# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Node / React / React Native
node_modules/
dist/
build/
.expo/
.expo-shared/

# IDE / OS
.DS_Store
.idea/

# Runtime state
back/data/*.json

.env
app-presentateur/.env
